# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite3

# Environments & Virtualenv
.env
.venv
env/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE & Editor files
.vscode/
.idea/
*.swp

# OS generated
.DS_Store
Thumbs.db
